.invalid-data {
    color: rgba(255, 0, 0, 0.6);
    margin-left: 20px;
    font-family: 'Roboto';
}

.btn-style {
    width: 150px;
    border-radius: 8px;
}

.number-input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 600px;
}