<h1 style="color: rgba(255, 255, 255, 0.8);">Transaction Processes</h1>
<div *ngIf = "transactionType==1 && !transactionFlag">
    <form (ngSubmit)="proceedDeposit(depositForm)" #depositForm = "ngForm">
        <div class="form group">
            <label for="money">Amount to be Deposited</label>
            <input type="number" name="money" class="form-control" ngModel #Money="ngModel" pattern="[0-9]{1,6}"> 
        </div>
        <small [hidden] = "Money.valid || Money.pristine">
            Please enter valid amount.
        </small>
        <small [hidden] = "!negativeAmount">
            Please enter positive amount.
        </small>
        <br>
        <input type="submit" value="Proceed" class="btn btn-primary" [disabled] = "!depositForm.form.valid">
    </form>
</div>

<div *ngIf = "(transactionType == 1 && transactionFlag)">
    <form (ngSubmit)="deposit(depositForm)" #depositForm="ngForm">
      <div class="form group">
        <label for="tPin">Enter Transaction Pin to proceed...</label>
        <input type="password" name="tPin" class="form-control" ngModel #tpin="ngModel" patten="[0-9]{4}"> 
      </div>
      <small class="invalid-data" [hidden]= "!wrongPassword && tpin.valid">
        Please enter the correct Transaction Pin
      </small>
      <small [hidden] = "!negativeAmount">
        Please enter positive amount.
    </small>
      <br>
      <input type="submit" value="Deposit" class="btn btn-primary" [disabled]= "!depositForm.form.valid">
    </form>
  </div>

<div *ngIf = "transactionType==2 && !transactionFlag">
    <form (ngSubmit)="proceedWithdraw(withdrawForm)" #withdrawForm = "ngForm">
        <div class="form group">
            <label for="money">Amount to be Deposited</label>
            <input type="number" name="money" class="form-control" ngModel #Money="ngModel" pattern="[0-9]{1,6}"> 
        </div>
        <small [hidden] = "Money.valid || Money.pristine">
            Please enter valid amount.
        </small>
        <small [hidden] = "!lowBalance">
            Your balance is less than the amount you want to transact.
        </small>
        <br>
        <input type="submit" value="Proceed" class="btn btn-primary" [disabled] = "!withdrawForm.form.valid">
    </form>
</div>

<div *ngIf = "transactionType==2 && transactionFlag">
    <form (ngSubmit)="withdraw(withdrawForm)" #withdrawForm="ngForm">
        <div class="form group">
          <label for="tPin">Enter Transaction Pin to proceed...</label>
          <input type="password" name="tPin" class="form-control" ngModel #tpin="ngModel" patten="[0-9]{4}"> 
        </div>
        <small class="invalid-data" [hidden]= "!wrongPassword && tpin.valid">
          Please enter the correct Transaction Pin
        </small>
        <br>
        <input type="submit" value="Withdraw" class="btn btn-primary" [disabled]= "!withdrawForm.form.valid">
    </form>
</div>

<div *ngIf = "transactionType==3 && !transactionFlag">
    <form (ngSubmit)="proceedFundTransfer(fundTransferForm)" #fundTransferForm= "ngForm">
        <div class="form group">
          <label for="receiverId">Receiver's Account Id</label>
          <input type="number" name="receiverId" class="form-control" ngModel #ReceiverId= "ngModel" pattern="[1-9]{1}[0-9]{7}"> 
        </div>
        <small class="invalid-data" [hidden] = "ReceiverId.valid">
          Please enter the valid Account Id
        </small>
        <div class="form group">
          <label for="money">Amount to be tranfered</label>
          <input type="number" name="money" class="form-control" ngModel #moneyRef2="ngModel" pattern="[0-9]"> 
        </div>
        <small class="invalid-data" [hidden] = "!lowBalance">
          Your balance is less than the amount you want to transact.
        </small>
        <br>
        <input type="submit" value="Submit" class="btn btn-success" [disabled] = "fundTransferForm.form.valid">
      </form>
</div>

<div *ngIf = "transactionType==3 && transactionFlag">
    <form (ngSubmit)="fundTransfer(fundTransferForm)" #fundTransferForm="ngForm">
        <div class="form group">
          <label for="tPin">Enter Transaction Pin to proceed...</label>
          <input type="password" name="tPin" class="form-control" ngModel #tpin="ngModel" patten="[0-9]{4}"> 
        </div>
        <small class="invalid-data" [hidden]= "!wrongPassword && tpin.valid">
          Please enter the correct Transaction Pin
        </small>
        <br>
        <input type="submit" value="Fund Transfer" class="btn btn-primary" [disabled]= "!fundTransferForm.form.valid">
    </form>
</div>