<div *ngIf = "!isSignedIn">
  <div class="create-form container">
    <div *ngIf = "formCount==0">
      <form (ngSubmit)="setDetails(detailsForm)" #detailsForm= "ngForm">
        <h2>Create an Account</h2>
        <div class ="form group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control input-tag" placeholder="Steve Woz" 
          #name= "ngModel" ngModel pattern = "[A-Za-z\s]{4,20}" required/>
          <small [hidden]= "name.valid || name.pristine">
            Should contain only alphabets. Length Max: 20, Min:4
          </small>
        </div>
        <div class = "form group">
          <label for="email">E-mail</label>
          <input type="email" name="email" class="form-control input-tag" placeholder="abc@example.com" 
          #email="ngModel" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
          <small [hidden]= "email.valid || email.pristine">
            Invalid email.
          </small>
        </div>
        <div class = "form group">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" name="mobileNumber" class="form-control input-tag" placeholder="8888888888" 
          #mobileNumber="ngModel" ngModel pattern = "[0-9]{10}" required/>
          <small [hidden]= "mobileNumber.valid || mobileNumber.pristine">
            Should contain only digits. Length: Exact 10 digits
          </small>
        </div>
        <br>
        <div>
          <label style="margin-right: 40px;">Select any Nationality Proof:</label>
          <input type="radio" name="nationalityType" value="Aadhar Card" #nationalityType="ngModel" ngModel (click)="checkNationality('AadharCard')">Aadhar Card
          <input type="radio" name="nationalityType" value="Pan Card" #nationalityType="ngModel" ngModel (click)="checkNationality('PanCard')" style="margin-left: 30px;"> Pan Card
        </div>
        <div class = "form group" *ngIf = "nationality == 1">
          <input type="text" name="nationalityNumber" class="form-control input-tag" required placeholder="12 digit Aadhar Card Number" 
          #nationalityNumber="ngModel" ngModel pattern = "[0-9]{12}"/>
          <small [hidden]= "nationalityNumber.valid || nationalityNumber.pristine">
            Should contain only digits. Length: Exact 12 digits
          </small>
        </div>
        <div class = "form group" *ngIf = "nationality == 2">
          <input type="text" name="nationalityNumber" class="form-control input-tag" placeholder="ABCDE1234F" 
          #nationalityNumber="ngModel" ngModel pattern = "^[A-Z]{5}[0-9]{4}[A-Z]{1}$" required/>
          <small [hidden]= "nationalityNumber.valid || nationalityNumber.pristine">
            Invalid Pan Card Format
          </small>
        </div>
        <br>
        <input type="submit" class="btn btn-tag" value="Next" [disabled]="!detailsForm.form.valid">
      </form>
    </div>
  
    <div  *ngIf = "formCount==1">
      <h2>Set Password</h2>
      <form (ngSubmit)="setPassword(passwordForm)" #passwordForm= "ngForm">
        <div class ="form group">
          <label for="password1">Password</label>
          <input type="password" name="password1" class="form-control input-tag" placeholder="********" 
          #password1="ngModel" ngModel pattern = "[A-Za-z0-9!@&_\s]{6,20}"/>
          <small [hidden]= "password1.valid || password1.pristine">
            Length Max: 20, Min:6
          </small>
        </div>
        <div class = "form group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control input-tag" placeholder="********" 
          #password2="ngModel" ngModel/>
          <small [hidden]= "!passwordsNotMatched">
            Passwords did not match
          </small>
        </div>
        <br>
        <input type="submit" class="btn btn-tag" value="Set Password">
      </form>
    </div>
  
    <div *ngIf = "formCount==2">
      <h2>Set Transaction Pin</h2>
      <form (ngSubmit)="setTPin(tPinForm)" #tPinForm= "ngForm">
        <div class ="form group">
          <label for="tpin1">Transaction Pin</label>
          <input type="password" name="tPin1" class="form-control input-tag" placeholder="****" 
          #tPin1="ngModel" ngModel pattern = "[1-9]{1}[0-9]{3}"/>
          <small [hidden]= "tPin1.valid || tPin1.pristine">
            Length: Exact 4 digits
          </small>
        </div>
        <div class = "form group">
          <label for="tPin2">Confirm Password</label>
          <input type="password" name="tPin2" class="form-control input-tag" placeholder="****" 
          #tPin2="ngModel" ngModel/>
          <small [hidden]= "!passwordsNotMatched">
            Transaction Pins did not match.
          </small>
        </div>
        <br>
        <input type="submit" class="btn btn-tag" value="Set Transaction Pin">
      </form>
    </div>
  </div>
</div>

<!------------------------------------------------Edit Form-------------------------------------------------------->

<div *ngIf = "isSignedIn">
  <div *ngIf = "editType == 1">
    <form (ngSubmit)="editDetails()" #detailsForm= "ngForm">
      <h2>Edit an Account</h2>
      <div class ="form group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control input-tag" placeholder="Steve Woz" 
        #name= "ngModel" [(ngModel)]="customer.name" pattern = "[A-Za-z\s]{4,20}" required/>
        <small [hidden]= "name.valid || name.pristine">
          Should contain only alphabets. Length Max: 20, Min:4
        </small>
      </div>
      <div class = "form group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control input-tag" placeholder="abc@example.com" 
        #email="ngModel" [(ngModel)]="customer.eMail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <small [hidden]= "email.valid || email.pristine">
          Invalid email.
        </small>
      </div>
      <div class = "form group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" name="mobileNumber" class="form-control input-tag" placeholder="8888888888" 
        #mobileNumber="ngModel" [(ngModel)]="customer.mobileNumber" pattern = "[0-9]{10}"/>
        <small [hidden]= "mobileNumber.valid || mobileNumber.pristine">
          Should contain only alphabets. Length Max: 12, Min:6
        </small>
      </div>
      <br>
      <input type="submit" class="btn btn-tag" value="Save" [disabled]="!detailsForm.form.valid">
    </form>
  </div>

  <div *ngIf = "editType == 2">
    <form (ngSubmit)="editPassword(passwordForm)" #passwordForm= "ngForm">
      <div class ="form group">
        <label for="password">Current Password</label>
        <input type="password" name="password" class="form-control input-tag" placeholder="********" 
        #password="ngModel" ngModel pattern = "[A-Za-z0-9!@&_\s]{6,20}"/>
        <small [hidden]= "password.valid || password.pristine">
          Length Max: 20, Min:6
        </small>
        <small [hidden]= "!wrongPassword">
          Incorrect Current Password
        </small>
      </div>
      <div class ="form group">
        <label for="password1">New Password</label>
        <input type="password" name="password1" class="form-control input-tag" placeholder="********" 
        #password1="ngModel" ngModel pattern = "[A-Za-z0-9!@&_\s]{6,20}"/>
        <small [hidden]= "password1.valid || password1.pristine">
          Length Max: 20, Min:6
        </small>
      </div>
      <div class = "form group">
        <label for="password2">Confirm New Password</label>
        <input type="password" name="password2" class="form-control input-tag" placeholder="********" 
        #password2="ngModel" ngModel/>
        <small [hidden]= "!passwordsNotMatched">
          Passwords did not match
        </small>
      </div>
      <br>
      <input type="submit" class="btn btn-tag" value="Change Password" [disabled]="!passwordForm.form.valid">
    </form>
  </div>

  <div *ngIf = "editType == 3">
    <form (ngSubmit)="editTPin(tPinForm)" #tPinForm= "ngForm">
      <div class ="form group">
        <label for="tpin">Current Transaction Pin</label>
        <input type="password" name="tPin" class="form-control input-tag" placeholder="****" 
        #tPin="ngModel" ngModel pattern = "[1-9]{1}[0-9]{3}"/>
        <small [hidden]= "tPin.valid || tPin.pristine">
          Length: Exact 4 digits
        </small>
        <small [hidden]= "!wrongPassword">
          Incorrect Current Transaction Pin
        </small>
      </div>
      <div class ="form group">
        <label for="tpin1">Transaction Pin</label>
        <input type="password" name="tPin1" class="form-control input-tag" placeholder="****" 
        #tPin1="ngModel" ngModel pattern = "[1-9]{1}[0-9]{3}"/>
        <small [hidden]= "tPin1.valid || tPin1.pristine">
          Length: Exact 4 digits
        </small>
      </div>
      <div class = "form group">
        <label for="tPin2">Confirm Password</label>
        <input type="password" name="tPin2" class="form-control input-tag" placeholder="****" 
        #tPin2="ngModel" ngModel/>
        <small [hidden]= "!passwordsNotMatched">
          Transaction Pins did not match.
        </small>
      </div>
      <br>
      <input type="submit" class="btn btn-tag" value="Change Transaction Pin" [disabled]="!tPinForm.form.valid">
    </form>
  </div>

</div>