<div class="container">
  <div class= "row">
    <div class="col-sm-10">
      <h1>Admin Access</h1>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-bg" (click)="logout()">Logout</button>
    </div>
  </div>
  <h3 style="color: rgba(214, 250, 148, 0.8);"> All Accounts</h3>
  <br>
  <div>
    <table class="table table-stripped">
      <thead style="align-items: center;">
        <th style="width: 30%;">Account Id</th>
        <th style="width: 30%;"> Name </th>
        <th style="width: 30%;">Operations</th>
      </thead>
      <tbody>
        <tr *ngFor = "let customer of customers, let i = index">
          <td>{{customer.accountId}}</td>
          <td>{{customer.name}}</td>
          <td>
            <button class = "btn btn-primary" (click)="showAccount(i)">Show Account</button>
            <button class = "btn btn-primary" style="margin-left: 20px;" (click)="deleteAccount(i)">Delete Account</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div *ngIf= "show" style="margin-left: 100px; margin-right: 100px;">
    <h2> Account Details</h2>
    <table class="table white">
      <tr>
        <th style="width: 50%;">Account Id</th>
        <td style="width: 50%;">{{customer.accountId}}</td>
      </tr>
      <tr>
        <th style="width: 50%;">Name</th>
        <td style="width: 50%;">{{customer.name}}</td>
      </tr>
      <tr>
        <th style="width: 50%;">E-mail Id</th>
        <td style="width: 50%;">{{customer.eMail}}</td>
      </tr>
      <tr>
        <th style="width: 50%;">Mobile Number</th>
        <td style="width: 50%;">{{customer.mobileNumber}}</td>
      </tr>
      <tr>
        <th style="width: 50%;">Balance</th>
        <td style="width: 50%;">{{customer.balance}}</td>
      </tr>
    </table>
  </div>
</div>
