<div class="container" *ngIf="!showBalance">
  <h1 style="color: rgba(255, 255, 255, 0.8);"> Account Details</h1>
  <div>
    <table class="table table-layout">
      <tr>
        <th>AccountId</th>
        <td>{{customer.accountId}}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{customer.name}}</td>
      </tr>
      <tr>
        <th>E-mail Id</th>
        <td>{{customer.eMail}}</td>
      </tr>
      <tr>
        <th>Mobile Number</th>
        <td>{{customer.mobileNumber}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="container" *ngIf="showBalance">
  <h1 style="color: rgba(255, 255, 255, 0.8);"> Account Details</h1>
  <div>
    <table class="table table-layout">
      <tr>
        <th>Balance</th>
        <td>{{ customer.balance | currency: 'INR'}}</td>
      </tr>
    </table>
  </div>
</div>