<div class="white">
  <div class = "row">
    <div class="col-sm-3">
      <small style="color: #F64C72; margin-top: 20px; margin-left: 25px; font: 14pt sans-serif;">
        New safer way of Digital Payments
      </small>
    </div>
    <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button class="btn btn-bg" (click) = "newAccount()">Create an Account</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-bg" (click)= "login()">Login</button>
      </div>
    
    <!-- <div *ngIf= "loggedIn">
      <div class="col-sm-1"></div>
      <div class="col-sm-3"> Hi, {{customer.name}}</div>
    </div> -->
  </div>
  
  <div class="container" style="margin-top: 170px;">
    <h3 style="color: white; align-content: center;">Web App under development...</h3>
    <h3 style="color: white; align-content: center; margin-left: 90px;">Content coming soon!</h3>
  </div>
</div>