<div class = "margin" style="background-image: linear-gradient(-90deg,#083373, #4ABDAC);"></div>
<div class="page-container">
  <div class="side-bar">
    <div class="list-items">
      <button class="btn list-item" (click)="showDetails()" >
        <i class= "material-icons">bookmark_border</i>
        Account Details
      </button>
      <button class="btn list-item" (click)="editAccount()">
        <i class= "material-icons">bookmark_border</i>
        Edit
      </button>
      <button class="btn list-item inner-btn" *ngIf="edit" (click)="editAccountDetails()">
        <i class= "material-icons">bookmark_border</i>
        Account Details
      </button>
      <button class="btn list-item inner-btn" *ngIf="edit" (click)="editAccountPassword()">
        <i class= "material-icons">bookmark_border</i>
        Account Password
      </button>
      <button class="btn list-item inner-btn" *ngIf="edit" (click)="editTransactionPin()">
        <i class= "material-icons">bookmark_border</i>
        Transaction Pin
      </button>
      <button class="btn list-item" (click)="showBalance()">
        <i class= "material-icons">bookmark_border</i>
        Show Balance
      </button>
      <button class="btn list-item" (click)="transactions()">
        <i class= "material-icons">bookmark_border</i>
        Transactions Processes
      </button>
      <button class="btn list-item inner-btn" *ngIf="transac" (click)="deposit()">
        <i class= "material-icons">bookmark_border</i>
        Deposit
      </button>
      <button class="btn list-item inner-btn" *ngIf="transac" (click)="withdraw()">
        <i class= "material-icons">bookmark_border</i>
        Withdraw
      </button>
      <button class="btn list-item inner-btn" *ngIf="transac" (click)="fundTransfer()">
        <i class= "material-icons">bookmark_border</i>
        Fund Transfer
      </button>
      <button class="btn list-item" (click)="printTransactions()">
        <i class= "material-icons">bookmark_border</i>
        Transactions
      </button>
    </div>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>